.homepage {
  padding-top: 80px;
  .header-block {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    .section-title {
      h1 {
        font-size: 32px;
        color: $color-White;
        font-family: $font-RobotoRegular;
      }
      p {
        font-size: 14px;
        color: $color-White;
        font-family: $font-RobotoRegular;
        margin-top: 5px;
      }
    }
  }
  .listing-block {
    border: 1px solid #111a20;
    margin-top: 60px;
    font-size: 14px;
    color: $color-White;
    .listing-header {
      background-color: #111a20;
      padding: 0 5px;
      // @include justify-align(center);
    }
    .listing {
      padding: 5px;
    }
  }
}
