.devloper-page {
  padding-top: 80px;
  .header-block {
    border-bottom: 1px solid #111a20;
    padding-bottom: 20px;
    .section-title {
      h1 {
        font-size: 32px;
        color: $color-White;
        font-family: $font-RobotoRegular;
      }
      p {
        font-size: 14px;
        color: $color-White;
        font-family: $font-RobotoRegular;
        margin-top: 5px;
      }
    }
  }
  .listing-block {
    border: 1px solid #111a20;
    margin-top: 60px;
    font-size: 14px;
    color: $color-White;
    border-radius: 8px;
    .star-today {
      .star {
        background-color: transparent;
      }
    }
 
    .listing {
      padding: 15px;
      border-bottom: 1px solid #111a20;
      .details {
        color: $color-White;
        .title {
          font-size: 16px;
          color: #186be8;
          padding-bottom: 5px;
          font-weight: bold;
          @include flex;
          .title-icon {
            padding-right: 5px;
            min-width: 20px;
            color: #535a63;
          }
        }
        p {
          color: #535a63;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .star {
      background-color: #111a20;
      padding: 5px 10px;
      border-radius: 8px;
      display: inline-flex;
      color: #535a63;
      align-items: center;
      justify-content: flex-end;
      .star-icon {
        padding-right: 5px;
      }
    }
    .lang-details {
      @include flex-align(center);
      font-size: 12px;
      color: #535a63;
      padding-top: 10px;
      .star {
        background-color: transparent;
        padding: 0;
        .star-icon {
          margin-right: 0;
        }
      }
      span {
        margin-right: 10px;
      }
      a {
        margin-right: 10px;
      }

      .lang-name {
        display: flex;
        align-items: center;
      }
    }
  }
  .userimage {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 0 5px;
    img {
      width: 100%;
    }
  }
  .devloper-list {
    .reponame {
      font-size: 12px;
      color: #186be8;
      padding-bottom: 5px;
    }
    .description {
      padding: 5px 10px;
      color: #535a63;
    }
    p {
    }
    .star {
      background-color: transparent;
    }
    .userimage {
      border-radius: 100%;
      height: 60px;
      width: 60px;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      img {
        width: 100%;
      }
    }
  }
}
