.header-data{
  .listing-header {
    @media (max-width: $tablet) {
      flex-direction: column;
      margin-bottom: 10px;
    }
    background-color: #111a20;
    padding: 10px;
    border-radius: 8px;
    @include justify-align(space-between, center);
    .header-button {
      border: 1px solid #186be8;
      overflow: hidden;
      .btn {
        color: $color-White !important;
        font-size: 12px;
        border-radius: 0;
      }
      border-radius: 8px;
      .btn-header {
        background-color: #186be8;
        color: $color-White;
      }
    }

    .form-select {
      color: $color-White;
      background-color: transparent;
      border: none;
      font-size: 12px;
      option {
        background-color: #111a20;
        border: none;
      }
    }
    .dropdone-nav {
      ul {
        @include flex;
      }
    }
  }
}