// Sample Template, Change the  font family and color according to the projects

$font-Regular: "Oswald";
$font-Medium: "OswaldMedium";
$font-Light: "OswaldLight";
$font-SemiBold: "OswaldSemiBold";
$font-Bold: "OswaldBold";
$font-RobotoRegular: "RobotoRegular";
/* font family*/

// Background Color
$color-Black: #000;
$color-red: #d1322e;
$color-White: #fff;

// Breakpoint

$mobile: 576;
$tablet: 767px;
$tablet-lg: 991px;
$laptop: 1280;
$desktop: 1500;
$desktop-lg: 1800;

